.bg-blue{
    background-color:#5ce1e6!important;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

#brand {
    display: flex;
    justify-content: center;
}

.sticky-bot{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

#albumBand{
    top:40px;
    z-index: 1;
}
.band{
    overflow: scroll;
    width: 100%;
    height: 120px;
    border: solid;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
}

.imgBand{
    float:left;
}

#fileButtons{
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    text-align: center;
}
  
.table-row{
    cursor:pointer;
}