.bg-blue{
    background-color:#5ce1e6!important;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

#brand {
    display: flex;
    justify-content: center;
}

.sticky-bot{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1;
}
  